 #gameflex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     align-content: center;
 }

 p {
     text-align: center;
 }


 /* img {
     margin: 5px;
 } */
tr{
    width: 60vw;
    text-align: center;
}
img{
   border: 5px transparent solid;
   box-sizing: border-box;
}
 tr,
 td {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: rgb(205, 189, 168);
 }